EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_DEV_SERVER_URL=http://localhost:3001
EXPO_PUBLIC_STAGING_SERVER_URL=https://ninebelow.potterwell.com
EXPO_PUBLIC_PROD_SERVER_URL=https://ninebelow.potterwell.com
